export GOROOT=~/google-cloud-sdk/platform/google_appengine/goroot-1.9/
export GOPATH=~/google-cloud-sdk/platform/google_appengine/gopath/
export PATH=~/google-cloud-sdk/platform/google_appengine/gopath/bin:$PATH
export PATH=~/google-cloud-sdk/platform/google_appengine/goroot-1.9/bin:$PATH
